- name: Build Docker Image using Ansible
  hosts: localhost
  connection: local
  become: true
  gather_facts: false

  vars:
    image_name: demoorg/sample-webapp
    image_tag: v1.0

  tasks:
    - name: Build Docker image
      command: >
        docker build
        -f ../Dockerfile
        -t {{ image_name }}:{{ image_tag }}
        ..
